input{
  border: none;
  flex-basis: 100%;
}
:host{
  border: 3px solid #4D90FE;
  display: inline-flex;
  background: white;
  width: 250px;
  align-items: center;
  z-index: 100;
}
::placeholder{
  color: black;
  font-size: 15px;
}

