img{
  object-fit: cover;
  max-width: 600px;
  max-height: 600px;
}
mat-card{
  width: 800px;
}
mat-form-field{
  // background-color: lightslategray;
  width: 100%;
}
textarea{
  box-sizing: content-box !important;
}
