<section fxLayout fxLayoutAlign="center start">
  <form fxLayout="column" fxLayoutGap="20px" [formGroup]="userForm" (ngSubmit)="submitForm()">
    <mat-form-field color="primary">
      <mat-label>Korisnicko ime</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-hint>Min 4, max 20 karaktera</mat-hint>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" formControlName="email">
      <mat-hint>Email adresa</mat-hint>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-hint>Min 4, max 20 karaktera</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">Registrujte se</button>
  </form>
</section>
